:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 150dvh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background: #18181B;
  background: linear-gradient(90deg, rgba(24, 24, 27, 1) 10%, rgba(35, 35, 38, 1) 50%, rgba(24, 24, 27, 1) 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-width: 5px;
  --scrollbar-color: #831d2b;
  --scrollbar-track-color: #18181B;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 3px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-button {
  display: none;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Static/Images/BgMask.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
}
